$color: white;


%table-shared {
    border: 1px solid black;
    
}

table, th {
    @extend %table-shared;
}



table .t1 {
    @extend %table-shared;
    color: red;
}

table .t2 {
    @extend %table-shared;
    color: blue;
}

table .t3 {
    @extend %table-shared;
    color: yellow;
}

table .t4 {
    @extend %table-shared;
    color: green;
}



.text {
    background-color: #4CAF50;
    color: $color;
    font-size: 16px;
    padding: 16px 32px;
}


section {

    background-color: $color;
    width: 100%;

    table {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    } 
} 