table, th, table .t1, table .t2, table .t3, table .t4 {
    border: 1px solid black;
  }
  table .t1 {
    color: red;
  }
  table .t2 {
    color: blue;
  }
  table .t3 {
    color: yellow;
  }
  table .t4 {
    color: green;
  }
  .text {
    background-color: #4caf50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  section {
    background-color: white;
    width: 100%;
  }
  section table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  