<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <style>
    body {
      background-image: url("http://www.baltana.com/files/wallpapers-5/Pizza-Best-Wallpaper-15278.jpg");
      background-color: #cccccc;
    }

    .box {
      background-color: white;
      width: 200px;
      height: 200px;
      text-align: center;
      opacity: 0.5;
      
    }
  </style>
</head>
<body>
  <main>
    
<div class="box">

menu
</div>


  </main>
</body>
</html>