<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <title>Flack</title>
</head>

<body>
    <h1>Channel List</h1>
    <ul id="chlist">
        {% for channel in channels %}
        <li>
            <a class='chname' data-name={{channel}} href='{{ url_for("select" ,channel=channel)  }}' >

                {{channel}}
            </a>

        </li>
        {% endfor %}
    </ul>
    <h1>Chat</h1>
    <ul id="texts">
        
    </ul>

    <hr>

    <input id="myInput" type="text" name="test">
    <button id="myBtn">Send</button>

    <form action='{{ url_for("create")  }}' method="post">
        <input id="chinput" name="channelname" type="text">
        <button id="cc">Create Channel</button>
    </form>
    <button id="anonybtn">Anonymous</button>






    <script>
        //flask run --no-reload
        document.addEventListener('DOMContentLoaded', () => {


            var channels = JSON.parse('{{ channels | tojson | safe}}');
            console.log(channels)

            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);
            
            var userName = window.localStorage.getItem('userName')
            if (userName) {

            } else {
                var newUserName = prompt('type display User Name');
                window.localStorage.setItem('userName', newUserName)
                userName = newUserName
            }

            var channelName = window.localStorage.getItem('channelName')
            if (channelName) {
                //socket.emit('back to channel', chname=channelName);

                channels[channelName].map((item, index) => {

                const li = document.createElement('li');
                li.innerHTML = item
                document.querySelector('#texts').append(li);
                })
            } else {
                document.querySelector('#texts').append(li).innerHTML = 'Select a channel to chat '
            }



            // Get the input field
            var input = document.getElementById("myInput");
            var btn = document.getElementById("myBtn")

            // Execute a function when the user releases a key on the keyboard
            input.addEventListener("keyup", function (event) {
                // Number 13 is the "Enter" key on the keyboard
                if (event.keyCode === 13) {
                    // Cancel the default action, if needed
                    event.preventDefault();
                    // Trigger the button element with a click
                    btn.click();
                }
            });

            var anonybtn = document.getElementById("anonybtn");
            var d = new Date().toLocaleString('en-US', { timeZone: 'Asia/Jakarta' });


            anonybtn.onclick = () => {
                if(userName ==="Anonymous"){
                    userName = window.localStorage.getItem('userName')
                }else{

                userName = "Anonymous";
                }
            }


            // Connect to websocket
            

            // When connected, configure buttons
            socket.on('connect', () => {



                btn.onclick = () => {
                    socket.emit('send text', { 'text': `${userName} : ${input.value} //  ${d}` , 'chname':window.localStorage.getItem('channelName') });
                }
                var aarr = document.querySelectorAll(".chname")
                console.log(aarr)
               

                for (let index = 0; index < aarr.length; index++) {
                    aarr[index].onclick = () => {
                        console.log('hihihihi')
                        window.localStorage.setItem('channelName' , aarr[index].dataset.name) 
                    }
                }


            });


            socket.on('announce text', data => {
                const li = document.createElement('li');
                li.innerHTML = data.text
                document.querySelector('#texts').append(li);

                
            })



            
        })
    </script>
</body>

</html>