<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet"
                href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- <link rel="stylesheet" href="..\CSS\login_register.css"> -->
        <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
        <style>
                .container {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        margin-top: 48px;
                }

                .box {
                        flex-direction: column;
                        align-items: center;
                        margin: 100px;
                }

                .login {
                        justify-content: flex-end;
                        flex: 4;
                }
        </style>
</head>

<body>


        <header class=" mdc-top-app-bar mdc-top-app-bar--dense">
                <div class="mdc-top-app-bar__row">
                        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                                <button
                                        class="material-icons mdc-top-app-bar__navigation-icon--unbounded">menu</button><span
                                        class="mdc-top-app-bar__title">San Francisco, CA</span> </section>
                        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
                                
                                <a href="{{ url_for('logout') }}"><button class="mdc-top-app-bar__action-item--unbounded"
                                        aria-label="Print this page">Logout</button></a>

                        </section>
                </div>
        </header>


        <div class="container">


                <form action="{{ url_for('register') }}" method="POST" class="box">

                        <h2>Register</h2>


                        <div class="mdc-text-field" style="display:block">
                                <input name="name" type="text" id="my-username-field" class="mdc-text-field__input">
                                <label class="mdc-floating-label" for="my-text-field">Name</label>
                                <div class="mdc-line-ripple"></div>
                        </div>
                        <div class="mdc-text-field" style="display:block">
                                <input name="email" type="text" id="my-username-field" class="mdc-text-field__input">
                                <label class="mdc-floating-label" for="my-text-field">E-mail</label>
                                <div class="mdc-line-ripple"></div>
                        </div>
                        <div class="mdc-text-field" style="display:block">
                                <input name="username" type="text" id="my-username-field" class="mdc-text-field__input">
                                <label class="mdc-floating-label" for="my-text-field">Username</label>
                                <div class="mdc-line-ripple"></div>
                        </div>
                        <div class="mdc-text-field  mypassword">
                                <input name="password" type="password" id="my-username-field2" class="mdc-text-field__input">
                                <label class="mdc-floating-label" for="my-text-field">Password</label>
                                <div class="mdc-line-ripple"></div>
                        </div>


                        <button style="display:block">Register</button>

                </form>


                <form  action="{{ url_for('login') }}" method="POST" class="box ">


                        <h2>Login</h2>

                        <div class="mdc-text-field" style="display:block">
                                <input name="username" type="text" id="my-username-field" class="mdc-text-field__input">
                                <label class="mdc-floating-label" for="my-text-field">Username</label>
                                <div class="mdc-line-ripple"></div>
                        </div>
                        <div class="mdc-text-field  mypassword">
                                <input name="password" type="password" id="my-username-field" class="mdc-text-field__input">
                                <label class="mdc-floating-label" for="my-text-field">Password</label>
                                <div class="mdc-line-ripple"></div>
                        </div>

                        <button style="display:block">Login</button>
                </form>
        </div>

        <script>

                var buttonarr = document.querySelectorAll('.mdc-text-field');

                for (let index = 0; index < buttonarr.length; index++) {

                        mdc.textField.MDCTextField.attachTo(buttonarr[index]);
                }
        </script>





</body>

</html>