<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% if user.is_authenticated %}
    <div>Hello , {{user}}</div>
    {% else %}
    <div>you are not logged in</div>
{% endif %}
    <a href="/register_view">register</a>
    <a href="/login_view">login</a>
    <a href="/logout_action">logout</a>

    <script>
    
    </script>
</body>
</html>