<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>register_view</div>
    <h2>Register</h2>
    <form action="{% url 'orders:register_action' %}" method="post">
    {% csrf_token %}
        <span>Username</span>    
        <input name="username" type="text">
        <br>
        <span>Password</span>   
        <input name="password" type="password">
        <br>
        <span>First Name</span>
        <input name="first_name" type="text" >
        <br>
        <span>Last Name</span>
        <input name="last_name" type="text" >
        <br>
        <span>Email address</span>
        <input name="email_address" type="text" >
        <br>
        <input type="submit" value='register'>
    </form>
</body>
</html>